<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipsicing elit.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li class="fa-solid fa-envelope"> email@email.com</li>
                <li class="fa-solid fa-phone"> 0000-0000</li>
                <li class="fa-brands fa-whatsapp"> 00000-0000</li>
            </ul>
        </address>
    </div>
    <section routerLink="produtos" class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>