<h2 class="contact__title"> Entre em contato</h2>
<section class="contact__container">
    <form name="form" class="contact-form" [formGroup]="formContato">
        <input formControlName="nome">
        <input type="text" placeholder="Digite o assunto">
        <input type="text" placeholder="(00) 0000-0000">
        <input type="text" placeholder="Digite seu e-mail">
        <textarea maxlength="300"></textarea>
        <button>enviar</button>
    </form>
    <address>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6183.362874015692!2d-43.241090795786604!3d-22.852451245044094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997944be8c50a9%3A0x5f2a471a7de3ee91!2zMjLCsDUxJzA4LjciUyA0M8KwMTQnMjkuMiJX!5e0!3m2!1spt-BR!2sbr!4v1658337583947!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h2>Rua nova 105 sb2</h2>

    </address>
</section>